<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
<!--    <script src="/js/common-sse.js"></script>-->
    <title>평가 폼</title>
    <link rel="stylesheet" href="/css/review.css">
    <script src="/js/review.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

<h1>제품 평가</h1>

<div>
    <label for="rating">별점:</label>
    <div class="rating" id="rating" onmousedown="setRating(event)">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>
    <input type="hidden" name="rating" id="ratingValue" value="0"><br>

    <label for="message">메시지:</label>
    <textarea id="message" name="message" rows="4" cols="50"></textarea><br><br>

    <button onclick="createReview()" id="cartId" th:data-cart-id="${cartId}">평가 제출</button>
    <a class="btn" th:href="@{'/'}">메인 페이지</a>
</div>
</body>
</html>
