<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>메인 페이지</title>
  <link rel="stylesheet" href="/css/main.css">
<!--  <script src="/js/common-sse.js"></script>-->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
  <div class="form-box" id="StoreForm">

    <div class="main-header">
      <h1>Store Home</h1>
    </div>
    <a th:if="${storeId != null}" th:href="@{/stores/{storeId}(storeId=${storeId})}" class="btn">나의 상점 입장</a>
    <a th:href="@{/stores}" class="btn">가게 페이지</a>
    <a th:href="@{/orders}" class="btn">주문 조회</a>
    <a th:if="${UserRole == 'ADMIN'}" th:href="@{/stores/join}" class="btn">나의 상점 생성</a>
    <a th:href="@{/}" class="btn">소개 페이지</a>
  </div>
</body>
</html>