<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>로그인 페이지</title>
  <link rel="stylesheet" href="/css/loginAndSignUp.css">
</head>

<body>
<div>
  <div class="main-header">
    <h2>로그인</h2>
  </div>
  <label for="userEmail">이메일:</label>
  <input type="email" id="userEmail" required><br>

  <label for="userPassword">비밀번호:</label>
  <input type="password" id="userPassword" required><br>

  <button onclick="joinForm()">가입하기</button>
  <a class="btn" href="/main">메인 페이지</a>
</div>
<script>
  function joinForm(){
    const joinData = {
      username: document.getElementById('userEmail').value,
      password: document.getElementById('userPassword').value
    };
    fetch('/login', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(joinData)
    })
    .then(data => {
      if(data.ok) {
        alert("로그인 성공");
        console.log(data)
        window.location.href="/";
      }
    })
    .catch(error => {
      console.error('에러:', error);
    });
  }
</script>
</body>
</html>