<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>사용자 등록 페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/loginAndSignUp.css">
</head>
<body>

<div>
    <div class="main-header">
        <h2>사용자 등록 폼</h2>
    </div>
    <label for="userEmail">이메일:</label>
    <input type="email" id="userEmail" required><br>

    <label for="userPassword">비밀번호:</label>
    <input type="password" id="userPassword" required><br>

    <label for="userPhone">전화번호:</label>
    <input type="text" id="userPhone" required><br>

    <label for="userName">이름:</label>
    <input type="text" id="userName" required><br>

    <label for="userAddress">주소:</label>
    <input type="text" id="userAddress" required><br>

    <label for="userRole" class="form-label">관리자 및 가계 주인 여부:</label>
    <select id="userRole" name="admin" class="form-input">
        <option value="admin">관리자</option>
        <option value="store">상점</option>
        <option value="user" selected>유저</option>
    </select><br>

    <label for="adminToken">관리자 토큰:</label>
    <input type="text" id="adminToken"><br>

    <button onclick="submitForm()">가입하기</button>
    <a class="btn" href="/">메인 페이지</a>
</div>
<script>
    function submitForm() {
        const formData = {
            userEmail: document.getElementById('userEmail').value,
            userPassword: document.getElementById('userPassword').value,
            userPhone: document.getElementById('userPhone').value,
            userName: document.getElementById('userName').value,
            userAddress: document.getElementById('userAddress').value,
            userRole: document.getElementById('userRole').value,
            adminToken: document.getElementById('adminToken').value
        };

        fetch('/api/users/join', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
        .then(data => {
            alert("회원 가입 성공");
            window.location.href="/";
        })
        .catch(error => {
            console.error('에러:', error);
        });
    }
</script>
</body>
</html>