<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
<!--  <script src="/js/common-sse.js"></script>-->
  <title>가게 페이지</title>
  <link rel="stylesheet" href="/css/store.css">
</head>
<body>

<h1>Store</h1>

<div th:if="${not #lists.isEmpty(storePages)}">
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Category</th>
      <th>Link</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="store : ${storePages}">
      <td th:text="${store.storeName}"></td>
      <td th:text="${store.storeAddress}"></td>
      <td th:text="${store.storeCategory}" ></td>
      <td>
        <a th:href="@{/stores/{storeId}/menus(storeId=${store.getStoreId()})}" class="btn">메뉴 정보 보기</a>
        <a th:if="${UserRole == 'ADMIN'}" th:href="@{/stores/{storeId}(storeId=${store.getStoreId()})}" class="btn">가게 상세 정보 보기</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<a th:href="@{/}" class="btn">메인 페이지</a>
</body>
</html>