<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>상점 생성</title>
<!--  <script src="/js/common-sse.js"></script>-->
  <link rel="stylesheet" href="/css/store.css">
  <script src="/js/store.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

<div>
  <h1>Store Add Form</h1>

  <label for="name">상점 이름:</label>
  <input type="text" id="name"><br>

  <label for="address">상점 주소:</label>
  <input type="text" id="address"><br>

  <label for="category">상점 품목:</label>
  <input type="text" id="category"><br><br>

  <button onclick="store()">상점 생성</button>
</div>

<br>
<a th:href="@{/stores}" class="btn">상점 페이지</a>
<a th:href="@{/}" class="btn">메인 페이지</a>

</body>
</html>