<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>주문 페이지</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/cart.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/js/cart.js"></script>
    <script src="/js/common-sse.js"></script>
</head>
<body>

<h1>주문</h1>
<div th:if="${not #lists.isEmpty(cart)}">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>USER</th>
                <th>ORDER DATE</th>
                <th th:if="${user.userRole.toString() == 'ADMIN'}">ORDER Details</th>
                <th th:if="${user.userRole.toString() == 'ADMIN'}">ORDER STATE</th>
                <th th:if="${user.userRole.toString() == 'USER'}">info</th>
                <th th:if="${user.userRole.toString() == 'USER'}">review</th>
                <th th:if="${user.userRole.toString() == 'USER'}">USER STATE</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cart : ${cart}">
                <td th:text="${cart.storeName}"></td>
                <td th:text="${cart.userId}"></td>
                <td th:text="${cart.date}"></td>
                <td th:if="${user.userRole.toString() == 'ADMIN'}">
                <button type="button" class="btn btn-primary" id="cart" th:data-cart-id="${cart.cartId}" onclick="CartDetails()">주문 상세정보</button>
                </td>
                <td th:if="${user.userRole.toString() == 'ADMIN'}">
                    <span th:if="${#strings.equals(cart.state, 'READY')}">
                        <button type="button" class="btn btn-primary" onclick="confirmOrderWithSSE('CONFIRM')">주문확인 하기</button>
                    </span>
                    <span th:if="${#strings.equals(cart.state, 'CONFIRM')}">
                        <button type="button" class="btn btn-primary" onclick="confirmOrderWithSSE('COMPLETE')">배달완료 하기</button>
                    </span>
                    <span th:unless="${#strings.equals(cart.state, 'READY') or #strings.equals(cart.state, 'CONFIRM')}">
                        <span th:text="${cart.state}"></span>
                    </span>
                </td>
                <td th:if="${user.userRole.toString() == 'USER'}">
                    <a class="btn btn-info store-link" th:href="@{/carts/{cartId}(cartId=${cart.cartId})}">카트 정보</a>
                </td>
                <td th:if="${user.userRole.toString() == 'USER'}">
                    <a class="btn btn-info store-link" th:href="@{/carts/{cartId}/reviews(cartId=${cart.cartId})}">리뷰 정보 보기</a>
                </td>
                <td><span th:if="${user.userRole.toString() == 'USER'}" th:text="${cart.state}"></span></td>
            </tr>
        </tbody>
    </table>
</div>

<a th:href="@{'/'}" class="btn btn-primary">메인 페이지</a>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>