<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
	<title>주문 페이지</title>
<!--	<script src="/js/common-sse.js"></script>-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/cartOne.css">
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

<h1>주문</h1>

<div th:if="${not #lists.isEmpty(cart)}">
	<table>
		<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Quantity</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="cart : ${cart.orderList}">
			<td th:text="${cart.cartId}"></td>
			<td th:text="${cart.price}"></td>
			<td th:text="${cart.quantity}"></td>
		</tr>
		</tbody>
	</table>
	<p>Total Price: <span th:text="${cart.totalPrice}"></span></p>
</div>

<a th:href="@{'/'}" class="btn btn-primary">메인 페이지</a>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>