<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>메뉴 생성</title>
<!--    <script src="/js/common-sse.js"></script>-->
    <link rel="stylesheet" href="/css/menu.css">
    <script src="/js/menu.js"></script>
</head>
<body>
<h1>메뉴</h1>

<div id="store" th:data-store-id="${storeId}">
    <label for="name">메뉴 이름:</label>
    <input type="text" id="name"><br>

    <label for="price">메뉴 가격:</label>
    <input type="number" id="price"><br><br>

    <button onclick="createMenu()">메뉴 생성</button>
</div>
<br>
<a th:href="@{'/'}" class="btn">메인 페이지</a>

</body>
</html>