<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
<!--    <script src="/js/common-sse.js"></script>-->
    <title>메뉴판</title>
    <link rel="stylesheet" href="/css/menu.css">
    <script src="/js/menu.js"></script>
</head>
<body>

<h1>메뉴</h1>

<div th:if="${not #lists.isEmpty(menuList)}">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>info</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="menu : ${menuList}">
            <td th:text="${menu.menuName}"></td>
            <td th:text="${menu.menuPrice}" id="priceAndQ" th:data-price="${menu.menuPrice}" th:data-quantity="1"></td>
            <td id="storeAndMenu" th:data-store-id="${storeId}" th:data-menu-id="${menu.menuId}">
                <a class="btn btn-info store-link" onclick="addCart()">메뉴 담기</a>
                <a th:if="${user != null and user.userRole.toString() == 'ADMIN' and storeId == user.store.storeId}" class="btn btn-info store-link"
                   th:href="@{/stores/{storeId}/menus/{menuId}(storeId=${menu.storeId}, menuId=${menu.menuId})}">메뉴 정보 보기</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<a th:if="${user != null and menuList != null and user.userRole.toString() == 'ADMIN' and (menuList[0].storeId == user.store.storeId or storeId == user.store.storeId)}"
   th:href="@{/stores/{storeId}/menus/join(storeId=${storeId})}" class="btn btn-primary">메뉴 생성 페이지</a>
<a class="btn btn-info" href="/carts">장바구니</a>
<a th:href="@{'/api/stores'}" class="btn btn-primary">상점 페이지</a>
<a th:href="@{'/'}" class="btn btn-primary">메인 페이지</a>
</body>
</html>